.wrapperdiv {
    padding-top: 80px;
    background-color: #e3f2fd;
}
.formcontainer {
    width: 60%;
    margin: 0 auto;
}
.form-control {
    display: inline-flex;
    margin: 14px;
    width: 100%;
    padding: auto;
}
.btn-primary {
    margin: 12px;
}
.img-thumbnail {
    width: 80px;
}
